@model IEnumerable<API.Model.Movie>

@{
    ViewData["Title"] = "GetAllMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron ">
    <h1 class="display-4">Hello, friends!</h1>
    <p class="lead">Learn about API using ASP.NET 6.0 EF Core (Code First Approach). </p>
    <hr class="my-4">
    <p>List with all Movies</p>
    <a class="btn btn-sm btn-primary" href="https://github.com/Boghian-Gabriel/API" role="button">Learn more about this project</a>
</div>

<p class="mt-4"">
    <input type="submit" value="Create new movie" class="btn btn-primary" onclick="location.href='@Url.Action("CreateMovie", "Movie")'" />
@*    @Html.ActionLink("Create new movie", "CreateMovie")
*@</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="display: none">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealeseDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="display: none">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealeseDate)
            </td>
            <td>
                    <button class="btn btn-sm btn-primary">@Html.ActionLink("Edit", "EditMovie", new {  id=item.Id }, new { @style="text-decoration:none; color:white" })</button> |
                    <button class="btn btn-sm btn-info">@Html.ActionLink("Details", "GetMovie", new { id=item.Id }, new { @style="text-decoration:none; color:#000000" })</button> |
                    <button class="btn btn-sm btn-danger">@Html.ActionLink("Delete", "DeleteMovie", new {  id=item.Id }, new { @style="text-decoration:none; color:white" })</button>
            </td>
        </tr>
}
    </tbody>
</table>
