@model API.Model.Movie

@{
    ViewData["Title"] = "GetMovie";
}

<h1>GetMovie</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" style="display:none">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" style="display:none">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealeseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealeseDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditMovie", new {  id = Model.Id  }) |
    <a asp-action="GetAllMovies">Back to List</a>
</div>
